@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

.home h1 {
  font-family: 'Kaisei Tokumin', serif;
  text-align: center;
  border: solid;
  border-color: rgb(105, 158, 118);
  background-color: rgb(105, 158, 118);
  color: white;
}

.body {
  display: inline-flexbox;
  outline: rgb(172, 228, 186) solid;
}

.body h3 {
  color: rgb(172, 228, 186);
}

.link {
  font-family: 'Kaisei Tokumin', serif;
}

.menu {
  font-family: 'Kaisei Tokumin', serif;
}

.menu h1 {
  color: rgb(0, 48, 2);
}

.body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.form {
  outline: rgb(172, 228, 186) dotted thick;
  display: inline-flexbox;
  width: initial;
  height: initial;
  text-align: center;
  padding-bottom: 50px;
  background-color: rgb(231, 226, 218);
}

.opportunities h1 {
  border: solid;
  border-color: rgb(105, 158, 118);
  background-color: rgb(105, 158, 118);
  color: white;
  text-align: center;
}

.opportunities h3 {
  color: rgb(172, 228, 186);
  text-align: center;
}

.opportunities input {
  margin-bottom: 10px;
}

.container h3 {
  text-align: center;
}

.submit_button {
  background-color: rgb(172, 228, 186);
  font-family: 'Kaisei Tokumin', serif;
}

.oppcard {
  display: inline-flexbox;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: rgb(172, 228, 186) dotted thick;
  transition: 0.75s;
  opacity: 1;
  text-align: center;

  /* overflow-x: scroll; */
  overflow-x: hidden;
  color: rgb(187, 158, 134);
  

  width: 300px;
  height: 600px;
  /* height: auto; */
}

.oppcard img {
  width: 40%;
}

.delete {
  background-color: rgb(233, 128, 128);
  color: white;
  float: right;
}

.vlist {
  text-decoration: underline;
}

.vform {
  display: inline-flexbox;
  outline: rgb(187, 158, 134) solid thick;
}

.vform input {
  margin-bottom: 10px;
}