@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

body {
  margin: 0;
  font-family: 'Kaisei Tokumin', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .navbar {
  background-color: aliceblue;
  border: solid;
  padding: 10px;
  height: 100px;
  max-width: 100%;
  text-align: center;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding-left: 145px;
  padding-right: 145px;
  margin-top: 25px;
} */
